In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [2]:
data.Timestamp

0     30/01/2020 15:00:07
1     30/01/2020 15:00:20
2     30/01/2020 15:00:23
3     30/01/2020 15:00:25
4     30/01/2020 15:00:28
5     30/01/2020 15:00:28
6     30/01/2020 15:00:33
7     30/01/2020 15:00:37
8     30/01/2020 15:00:39
9     30/01/2020 15:00:41
10    30/01/2020 15:00:43
11    30/01/2020 15:00:44
12    30/01/2020 15:00:45
13    30/01/2020 15:01:10
14    30/01/2020 15:01:16
15    30/01/2020 15:01:24
16    30/01/2020 15:01:35
17    30/01/2020 15:01:49
18    30/01/2020 15:01:50
19    30/01/2020 15:01:56
20    30/01/2020 15:02:04
21    30/01/2020 15:02:41
22    30/01/2020 15:02:49
23    30/01/2020 15:02:59
24    30/01/2020 15:04:10
25    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [3]:
type(data.Timestamp[0])

str

In [4]:
pd.to_datetime(data.Timestamp)

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: Timestamp, dtype: datetime64[ns]

In [5]:
data.Timestamp.dtype

dtype('O')

In [6]:
data['Timestamp_dt'] = pd.to_datetime(data.Timestamp)
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestamp_dt
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039,2020-01-30 15:00:07
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019,2020-01-30 15:00:20
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015,2020-01-30 15:00:23
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002,2020-01-30 15:00:25
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079,2020-01-30 15:00:28
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180,2020-01-30 15:00:28
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106,2020-01-30 15:00:33
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042,2020-01-30 15:00:37
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015,2020-01-30 15:00:39
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011,2020-01-30 15:00:41
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017,2020-01-30 15:00:43
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026,2020-01-30 15:00:44
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050,2020-01-30 15:00:45
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035,2020-01-30 15:01:10
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018,2020-01-30 15:01:16
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461,2020-01-30 15:01:24
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002,2020-01-30 15:01:35
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049,2020-01-30 15:01:49
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053,2020-01-30 15:01:50
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030,2020-01-30 15:01:56
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013,2020-01-30 15:02:04
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016,2020-01-30 15:02:41
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012,2020-01-30 15:02:49
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150,2020-01-30 15:02:59
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025,2020-01-30 15:04:10
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310,2020-01-30 15:07:38

In [7]:
data['Timestamp_dt'].dtype

dtype('<M8[ns]')

In [8]:
data['Timestamp_dt']

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: Timestamp_dt, dtype: datetime64[ns]

In [9]:
type(data['Timestamp_dt'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
data['Timestamp_dt'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
Name: Timestamp_dt, dtype: int64

In [11]:
data['Timestamp_dt'].dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
Name: Timestamp_dt, dtype: int64

In [12]:
data['Timestamp_dt'].dt.second

0      7
1     20
2     23
3     25
4     28
5     28
6     33
7     37
8     39
9     41
10    43
11    44
12    45
13    10
14    16
15    24
16    35
17    49
18    50
19    56
20     4
21    41
22    49
23    59
24    10
25    38
Name: Timestamp_dt, dtype: int64

In [13]:
data.describe()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber,Timestamp_dt
count,26,26,26,26,26,26,26
unique,25,26,26,14,14,26,25
top,30/01/2020 15:00:28,k.parameswara rao,bhavanisankar5758@gmail.com,MCA,B.Tech,161FA07035,2020-01-30 15:00:28
freq,2,1,1,4,7,1,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [14]:
data.set_index('RollNumber',inplace=True)
data

,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
RollNumber,,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,2020-01-30 15:00:28
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,2020-01-30 15:00:37
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,2020-01-30 15:00:39
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,2020-01-30 15:00:43
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,2020-01-30 15:00:44
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,2020-01-30 15:01:10
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,2020-01-30 15:01:16
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,2020-01-30 15:01:35
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,2020-01-30 15:01:49
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,2020-01-30 15:01:50
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,2020-01-30 15:01:56
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,2020-01-30 15:02:04
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,2020-01-30 15:02:41
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,2020-01-30 15:02:49
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,2020-01-30 15:02:59
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,2020-01-30 15:04:10
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,2020-01-30 15:07:38

In [15]:
data.reset_index('RollNumber',inplace=True)
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,2020-01-30 15:00:28
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,2020-01-30 15:00:37
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,2020-01-30 15:00:39
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,2020-01-30 15:00:43
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,2020-01-30 15:00:44
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,2020-01-30 15:01:10
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,2020-01-30 15:01:16
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,2020-01-30 15:01:35
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,2020-01-30 15:01:49
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,2020-01-30 15:01:50
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,2020-01-30 15:01:56
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,2020-01-30 15:02:04
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,2020-01-30 15:02:41
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,2020-01-30 15:02:49
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,2020-01-30 15:02:59
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,2020-01-30 15:04:10
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,2020-01-30 15:07:38

In [16]:
data.Branch.value_counts()

MCA                       4
Information Technology    4
Data Science              3
IT                        2
Computer Science          2
CSE                       2
I.T                       2
DataScience               1
cse                       1
ECE                       1
Automobile Engineering    1
B.Sc(comp)                1
civil engineering         1
b com(computers)          1
Name: Branch, dtype: int64

In [17]:
data['seconds'] = data['Timestamp_dt'].dt.second
data.describe()

         seconds
count  26.000000
mean   32.846154
std    15.371902
min     4.000000
25%    23.250000
50%    36.000000
75%    43.750000
max    59.000000

In [18]:
data.describe(include=object)

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
count,26,26,26,26,26,26
unique,26,25,26,26,14,14
top,161FA07035,30/01/2020 15:00:28,k.parameswara rao,bhavanisankar5758@gmail.com,MCA,B.Tech
freq,1,2,1,1,4,7

In [19]:
data.describe(include='all')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,seconds
count,26,26,26,26,26,26,26,26.000000
unique,26,25,26,26,14,14,25,NaN
top,161FA07035,30/01/2020 15:00:28,k.parameswara rao,bhavanisankar5758@gmail.com,MCA,B.Tech,2020-01-30 15:00:28,NaN
freq,1,2,1,1,4,7,2,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.846154
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.371902
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000

Sales Data
- market facts
- cust dimen
- product dimen
- order dimen
- ship dimen

- readmarket fact data
- display the top 5 rows
- display last 3 rows
- check the total no of entries u have
- check no of features
- print feature names(column names)
- print the row indices of the dataframe
- check dtype of each and every columns
- description for numerical column min,max,count,25%,50%,75%,std
- description for the categorical columns count,top,frq
- missing value count columnwise
- total missing value count in data frame
- check the output for information function
- access 3,5,7, columns using iloc,loc and without using any of them
- how many unique products are there
- how many unique customers are there
- what is the maximum sales

## market facts

In [20]:
market_data = pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/market_fact.csv')
market_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [21]:
market_data.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [22]:
market_data.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [23]:
market_data.shape[0]

8399

In [24]:
market_data.shape[1]

10

In [25]:
market_data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [26]:
market_data.index

RangeIndex(start=0, stop=8399, step=1)

In [28]:
market_data.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [29]:
market_data.describe(include='all')

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399,8399,8399,8399,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
unique,5506,17,7701,1832,NaN,NaN,NaN,NaN,NaN,NaN
top,Ord_542,Prod_6,SHP_564,Cust_1140,NaN,NaN,NaN,NaN,NaN,NaN
freq,6,1225,4,30,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,NaN,NaN,NaN,NaN,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,NaN,NaN,NaN,NaN,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,NaN,NaN,NaN,NaN,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,NaN,NaN,NaN,NaN,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,NaN,NaN,NaN,NaN,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,NaN,NaN,NaN,NaN,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [30]:
market_data.describe(include=object)

         Ord_id Prod_id  Ship_id    Cust_id
count      8399    8399     8399       8399
unique     5506      17     7701       1832
top     Ord_542  Prod_6  SHP_564  Cust_1140
freq          6    1225        4         30

In [34]:
market_data.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [35]:
market_data.isnull().sum().sum()

63

In [36]:
market_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [37]:
market_data.iloc[:,3:8:2]

        Cust_id  Discount   Profit
0     Cust_1818      0.01   -30.51
1     Cust_1818      0.01     4.56
2     Cust_1818      0.00  1148.90
3     Cust_1818      0.09   729.34
4     Cust_1818      0.08  1219.87
5     Cust_1818      0.03   -47.64
6       Cust_26      0.01     1.32
7     Cust_1641      0.10  1137.91
8     Cust_1641      0.01    45.84
9     Cust_1641      0.07   -27.72
10    Cust_1641      0.01  1675.98
11     Cust_708      0.05    79.34
12    Cust_1088      0.04    23.12
13     Cust_839      0.10  -693.23
14     Cust_839      0.08  -317.48
15     Cust_839      0.06  -103.48
16     Cust_839      0.06   193.12
17    Cust_1521      0.02  4089.27
18    Cust_1521      0.08  -141.26
19     Cust_371      0.05   -37.03
20     Cust_371      0.08   -24.03
21     Cust_371      0.01   -44.54
22     Cust_371      0.09   991.26
23     Cust_371      0.05    -0.71
24     Cust_931      0.08     3.46
25     Cust_931      0.03    -2.34
26     Cust_931      0.00    31.32
27     Cust_931      0.01   401.80
28     Cust_931      0.05  1016.97
29     Cust_931      0.07  -140.54
...         ...       ...      ...
8369  Cust_1274      0.02   515.62
8370  Cust_1006      0.04   -17.75
8371  Cust_1006      0.07  1049.54
8372  Cust_1006      0.03    12.64
8373  Cust_1006      0.10   -31.95
8374  Cust_1006      0.08  -256.93
8375  Cust_1006      0.10   226.53
8376  Cust_1006      0.00   -27.99
8377  Cust_1006      0.00    10.58
8378  Cust_1006      0.05   312.52
8379  Cust_1006      0.04    69.31
8380  Cust_1006      0.04  -143.58
8381  Cust_1006      0.01   561.13
8382  Cust_1006      0.00   -92.85
8383  Cust_1006      0.04  -546.98
8384  Cust_1577      0.04   -56.30
8385   Cust_637      0.04   100.22
8386   Cust_851      0.07    11.32
8387   Cust_851      0.04   -16.39
8388  Cust_1519      0.03  -335.06
8389  Cust_1519      0.00    34.68
8390  Cust_1798      0.04  -276.54
8391  Cust_1798      0.07    88.36
8392  Cust_1798      0.08    -6.24
8393  Cust_1798      0.07    12.61
8394  Cust_1798      0.08   374.63
8395  Cust_1798      0.10   -74.03
8396  Cust_1798      0.02   -70.85
8397  Cust_1798      0.03   565.34
8398  Cust_1798      0.00   131.39

[8399 rows x 3 columns]

In [47]:
market_data.loc[:,['Ship_id','Discount','Shipping_Cost']]

       Ship_id  Discount  Shipping_Cost
0     SHP_7609      0.01           3.60
1     SHP_7549      0.01           0.93
2     SHP_7610      0.00           2.50
3     SHP_7625      0.09          14.30
4     SHP_7664      0.08          26.30
5     SHP_7608      0.03           6.15
6       SHP_41      0.01           0.50
7     SHP_6593      0.10           0.99
8     SHP_6593      0.01           0.71
9     SHP_6593      0.07           6.60
10    SHP_6615      0.01           0.99
11    SHP_2637      0.05           4.86
12    SHP_4112      0.04           3.37
13    SHP_3093      0.10          61.76
14    SHP_3006      0.08          36.09
15    SHP_3114      0.06           7.29
16    SHP_3122      0.06           1.39
17    SHP_6228      0.02          26.00
18    SHP_6171      0.08           6.81
19    SHP_1378      0.05           4.20
20    SHP_1378      0.08           2.31
21    SHP_1378      0.01           7.86
22    SHP_1377      0.09          19.99
23    SHP_1378      0.05           1.63
24    SHP_3525      0.08           7.27
25    SHP_3204      0.03           0.70
26    SHP_3367      0.00           4.00
27    SHP_3300      0.01           6.66
28    SHP_3527      0.05           2.50
29    SHP_3395      0.07           6.89
...        ...       ...            ...
8369  SHP_5031      0.02           1.49
8370  SHP_3690      0.04           2.03
8371  SHP_3591      0.07           8.99
8372  SHP_3806      0.03           1.39
8373  SHP_3560      0.10           1.32
8374  SHP_3637      0.08          48.20
8375  SHP_3806      0.10          11.63
8376  SHP_3590      0.00           6.50
8377  SHP_3729      0.00           0.50
8378  SHP_3705      0.05           3.50
8379  SHP_3730      0.04           8.99
8380  SHP_3807      0.04           7.37
8381  SHP_3691      0.01           8.99
8382  SHP_3636      0.00           5.34
8383  SHP_3731      0.04          35.00
8384  SHP_6435      0.04           7.78
8385  SHP_2527      0.04           4.98
8386  SHP_3189      0.07           1.35
8387  SHP_3019      0.04           6.28
8388  SHP_6165      0.03          35.00
8389  SHP_6192      0.00           0.98
8390  SHP_7594      0.04           8.37
8391  SHP_7594      0.07           7.69
8392  SHP_7519      0.08           2.50
8393  SHP_7470      0.07           1.99
8394  SHP_7479      0.08           7.69
8395  SHP_7555      0.10           6.92
8396  SHP_7524      0.02           5.35
8397  SHP_7469      0.03          30.00
8398  SHP_7628      0.00           4.86

[8399 rows x 3 columns]

In [59]:
market_data[['Ship_id','Discount','Shipping_Cost']]

       Ship_id  Discount  Shipping_Cost
0     SHP_7609      0.01           3.60
1     SHP_7549      0.01           0.93
2     SHP_7610      0.00           2.50
3     SHP_7625      0.09          14.30
4     SHP_7664      0.08          26.30
5     SHP_7608      0.03           6.15
6       SHP_41      0.01           0.50
7     SHP_6593      0.10           0.99
8     SHP_6593      0.01           0.71
9     SHP_6593      0.07           6.60
10    SHP_6615      0.01           0.99
11    SHP_2637      0.05           4.86
12    SHP_4112      0.04           3.37
13    SHP_3093      0.10          61.76
14    SHP_3006      0.08          36.09
15    SHP_3114      0.06           7.29
16    SHP_3122      0.06           1.39
17    SHP_6228      0.02          26.00
18    SHP_6171      0.08           6.81
19    SHP_1378      0.05           4.20
20    SHP_1378      0.08           2.31
21    SHP_1378      0.01           7.86
22    SHP_1377      0.09          19.99
23    SHP_1378      0.05           1.63
24    SHP_3525      0.08           7.27
25    SHP_3204      0.03           0.70
26    SHP_3367      0.00           4.00
27    SHP_3300      0.01           6.66
28    SHP_3527      0.05           2.50
29    SHP_3395      0.07           6.89
...        ...       ...            ...
8369  SHP_5031      0.02           1.49
8370  SHP_3690      0.04           2.03
8371  SHP_3591      0.07           8.99
8372  SHP_3806      0.03           1.39
8373  SHP_3560      0.10           1.32
8374  SHP_3637      0.08          48.20
8375  SHP_3806      0.10          11.63
8376  SHP_3590      0.00           6.50
8377  SHP_3729      0.00           0.50
8378  SHP_3705      0.05           3.50
8379  SHP_3730      0.04           8.99
8380  SHP_3807      0.04           7.37
8381  SHP_3691      0.01           8.99
8382  SHP_3636      0.00           5.34
8383  SHP_3731      0.04          35.00
8384  SHP_6435      0.04           7.78
8385  SHP_2527      0.04           4.98
8386  SHP_3189      0.07           1.35
8387  SHP_3019      0.04           6.28
8388  SHP_6165      0.03          35.00
8389  SHP_6192      0.00           0.98
8390  SHP_7594      0.04           8.37
8391  SHP_7594      0.07           7.69
8392  SHP_7519      0.08           2.50
8393  SHP_7470      0.07           1.99
8394  SHP_7479      0.08           7.69
8395  SHP_7555      0.10           6.92
8396  SHP_7524      0.02           5.35
8397  SHP_7469      0.03          30.00
8398  SHP_7628      0.00           4.86

[8399 rows x 3 columns]

In [60]:
market_data.Prod_id.nunique()

17

In [61]:
market_data.Cust_id.nunique()

1832

In [65]:
market_data.Sales.max()

89061.05

## Customer Dim

In [66]:
cus_data= pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/cust_dimen.csv')
cus_data

URLError: <urlopen error [Errno 2] No such file or directory>